//- =============================================================================
//- > VIEW : INCLUDE - NEWS ARCHIVE
//- =============================================================================
.container
    != c.walker

    ul.row.archive.archive--news

        each news in c.posts

            li.gr-6.gr-12-xs.archive__item

                article.card-news

                    a(href=news.url style="background-image: url(".$news->thumb["url"]["archive"].")").card-news__visual
                        != news.thumb.tag.archive
                    .card-news__content
                        time= news.date.short
                        h2.card-news__title= news.post_title
                        p.card-news__excerpt= news.post_excerpt
                        a.button(href=news.url) Lire plus


    != c.walker