//- =============================================================================
//- > VIEW : INCLUDE - SECTIONS
//- =============================================================================

mixin colcontent(col)
    if col.content
        each c in col.content
            +content(c)

//- ==================================================
//- > COLLAPSABLE
//- ==================================================
mixin collapsable(row)
    if row.collapsable
        .collapsable
            .collapsable__header.trigger!= row.collapsable
            .collapsable__content
                block
    else
        block


//- ==================================================
//- > ROW
//- ==================================================
mixin sectionrow(row)

    +collapsable(row)

        //- Light markup when there is only one column
        if row.light
            each col in row.columns
                +colcontent(col)

        //- Display columns when there are more than one
        else
            .row(class=row.classes)&attributes(row.attrs)
                each col in row.columns
                    .gr(style=col.styles class=col.classes)
                        +colcontent(col)


//- ==================================================
//- > SECTIONS
//- ==================================================
mixin sections(sections)
    each s in sections

        section(class=s.classes)&attributes(s.attr)
            each row in s.rows
                if row.width == "full"
                    +sectionrow(row)
                else
                    .container(class="container--".$row["width"]."")
                        +sectionrow(row)