//- =============================================================================
//- > VIEW : INCLUDE - SECTIONS
//- =============================================================================

mixin colcontent(col)
    if col.content
        each c in col.content
            include _contents

//- ==================================================
//- > COLLAPSABLE
//- ==================================================
mixin collapsable(row)
    if row.collapsable
        .collapsable
            .collapsable__header.trigger!= row.collapsable
            .collapsable__content
                block
    else
        block


//- ==================================================
//- > ROW
//- ==================================================
mixin sectionrow(row)

    +collapsable(row)

        //- Light markup when there is only one column
        if row.light
            each col in row.columns
                +colcontent(col)

        //- Display columns when there are more than one
        else
            .flex-row(class=row.classes)&attributes(row.attrs)
                each col in row.columns
                    .flex-row__item(style=col.styles class=col.classes)
                        +colcontent(col)


//- ==================================================
//- > SECTIONS
//- ==================================================
each s in sections

    section(class=s.classes)&attributes(s.attr)

        each row in s.rows

            if row.fullwidth
                +sectionrow(row)
            else
                .container
                    +sectionrow(row)