//- =============================================================================
//- > VIEW : SINGLE
//- =============================================================================
extends templates/_base


//- ==================================================
//- > INTRO
//- ==================================================
block intro
    .site-intro.search-page__intro
        h1 test


//- ==================================================
//- > SECTIONS
//- ==================================================
block sections

    section.bg-white: .container


        nav.single-nav
            ul
                li: a.link-archive(href=singlenav.archive.url)= singlenav.archive.text
                li: a(href=singlenav.previous.url class=singlenav.previous.url?"":" disabled")= singlenav.previous.text
                li: a(href=singlenav.next.url class=singlenav.next.url?"":" disabled")= singlenav.next.text


        block article
            article.single__content

                time!= post.date.bold

                h2= post.post_title

                != post.post_content

                .visual!= post.thumb.tag.large


        nav.single-nav
            ul
                li: a.link-archive(href=singlenav.archive.url)= singlenav.archive.text
                li: a(href=singlenav.previous.url class=singlenav.previous.url?"":" disabled")= singlenav.previous.text
                li: a(href=singlenav.next.url class=singlenav.next.url?"":" disabled")= singlenav.next.text