//- =============================================================================
//- > VIEW : SINGLE
//- =============================================================================
extends templates/_base


//- ==================================================
//- > SECTIONS
//- ==================================================
block sections

    section.bg-white: .container


        nav.single-nav: ul.single-nav__list
            li.single-nav__item: a.single-nav__link.single-nav__link--archive(href=singlenav.archive.url)= singlenav.archive.text
            li.single-nav__item: a.single-nav__link(href=singlenav.previous.url class=singlenav.previous.url?"":"disabled")= singlenav.previous.text
            li.single-nav__item: a.single-nav__link(href=singlenav.next.url class=singlenav.next.url?"":"disabled")= singlenav.next.text


        article.single__content

            time!= post.date.short

            h2.sm-margin-top= post.post_title

            != post.post_content

            .visual!= post.thumb.tag.large


        nav.single-nav: ul.single-nav__list
            li.single-nav__item: a.single-nav__link.single-nav__link--archive(href=singlenav.archive.url)= singlenav.archive.text
            li.single-nav__item: a.single-nav__link(href=singlenav.previous.url class=singlenav.previous.url?"":"disabled")= singlenav.previous.text
            li.single-nav__item: a.single-nav__link(href=singlenav.next.url class=singlenav.next.url?"":"disabled")= singlenav.next.text