include ../includes/_mixins
doctype

html(lang=site.language)

    //- =============================================================================
    //- > HEAD
    //- =============================================================================
    head
        meta(charset=site.charset)
        meta(name="description" content=site.description)
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="pingback" href=site.pingback_url)
        = wp_head()
        block head

    //- =============================================================================
    //- > BODY
    //- =============================================================================
    body(class=site.body_class)

        //- ==================================================
        //- > SITE
        //- ==================================================
        block site
            .site

                //- ==================================================
                //- > HEADER
                //- ==================================================
                block header
                    header(role="navigation").site-header

                        nav.site-header__nav.container

                            a.site-header__brand(href=site.url rel="home")= site.name

                            != site.menus.main

                            +social(site.header.social, "header", "site-header__social")

                //- ==================================================
                //- > CONTENT
                //- ==================================================
                block main
                    main.site-main#site-views(role="main"): .site-view(data-namespace="page")

                        //- ========== INTRO ========== -//
                        block intro
                            if intro_image
                                .site-intro(style="background-image: url(".$intro_image.")")

                        //- ========== BREADCRUMB ========== -//
                        block breadcrumb
                            //- .container.breadcrumb-container!= site.breadcrumb


                        //- ========== ASIDE ========== -//
                        block aside
                            //- .site-aside

                        //- ========== CONTENT ========== -//
                        block sections
                            +sections(sections)


                //- ==================================================
                //- > FOOTER
                //- ==================================================
                block footer
                    footer.site-footer(role="contentinfo")
                        .site-footer__top: .container.flex-row.flex-row--responsive-xs
                            .flex-row__item.site-footer__col!= site.footer.col_1
                            .flex-row__item.site-footer__col!= site.footer.col_2
                            .flex-row__item.site-footer__col!= site.footer.col_3

                        .site-footer__bottom: .container.flex-row.flex-justify-space-between.flex-row--responsive-xs
                            != site.menus.footer

                            p.site-footer__copyright!= site.footer.copyright


        //- ==================================================
        //- > MOBILE NAVIGATION
        //- ==================================================
        button.site-mobilenav__trigger
            span
            span
            span


        .site-mobilenav
            nav.site-mobilenav__nav!= site.menus.mobile


        //- ==================================================
        //- > ERROR & SUCCESS MESSAGES
        //- ==================================================
        block messages
            if error_message
                p.site-message.site-message--error.color-white
                    span.site-message__close
                    != error_message
            if success_message
                p.site-message.site-message--success.color-white
                    span.site-message__close
                    != success_message


        //- ==================================================
        //- > OVERLAYS
        //- ==================================================
        #scroll-top

        each form in site.forms
            .nf-form-loaded(data-id=form.id)
                != form.html
        = wp_footer()
