doctype

html(lang=site.language)

    //- =============================================================================
    //- > HEAD
    //- =============================================================================
    head
        meta(charset=site.charset)
        meta(name="description" content=site.description)
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="pingback" href=site.pingback_url)
        = wp_head()
        block head

    //- =============================================================================
    //- > BODY
    //- =============================================================================
    body(class=site.body_class)

        //- ==================================================
        //- > SITE
        //- ==================================================
        block site
            .site

                //- ==================================================
                //- > HEADER
                //- ==================================================
                block header
                    header(role="navigation").site-header

                        nav.site-header__nav.container
                            .row
                                .gr-2
                                    a.site-header__brand(href=site.url rel="home")= site.name

                                .gr-10
                                    ul.site-header__social.social.social--header
                                        each soc in site.header.social
                                            li.social__item
                                                a.social__link(href=soc.link.url target=soc.link.target title=soc.link.title)
                                                    != soc.icon

                                    != site.menus.main


                //- ==================================================
                //- > CONTENT
                //- ==================================================
                block main
                    main.site-main#site-views(role="main"): .site-view(data-namespace="page")

                        //- ========== INTRO ========== -//
                        block intro
                            .site-intro
                                .container
                                    block intro_content
                                        h1!= post.post_title


                        //- ========== BREADCRUMB ========== -//
                        block breadcrumb
                            //- .container.breadcrumb-container!= site.breadcrumb


                        //- ========== ASIDE ========== -//
                        block aside
                            //- .site-aside

                        //- ========== CONTENT ========== -//
                        block sections
                            include ../includes/_sections


                //- ==================================================
                //- > FOOTER
                //- ==================================================
                block footer
                    footer.site-footer(role="contentinfo")
                        .container
                            != site.menus.footer


        //- ==================================================
        //- > MOBILE NAVIGATION
        //- ==================================================
        button.site-mobilenav__trigger
            span
            span
            span


        .site-mobilenav
            nav.site-mobilenav__nav!= site.menus.mobile


        //- ==================================================
        //- > ERROR & SUCCESS MESSAGES
        //- ==================================================
        block messages
            if error_message
                p.site-message.site-message--error.color-white
                    span.site-message__close
                    != error_message
            if success_message
                p.site-message.site-message--success.color-white
                    span.site-message__close
                    != success_message


        //- ==================================================
        //- > OVERLAYS
        //- ==================================================
        #scroll-top

        each form in site.forms
            .nf-form-loaded(data-id=form.id)
                != form.html
        = wp_footer()
