doctype

html(lang=site.language)

    head
        meta(charset=site.charset)
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        = wp_head()
        block head

    body(class=body_class)

        //- ==================================================
        //- > HEADER
        //- ==================================================
        header#site-header(role="banner")

            .container
                a.main-logo(href=site.url rel="home")
                    img(src=site.header.logo.url alt=site.name)

                nav.header-social-menu
                    ul
                        each soc in site.header.social
                            li: a(href=soc.url title=soc.name)!= soc.icon

                //- nav.header-lang-menu


        nav#main-menu
            .container
                != site.menus.main
                input.header-search(type="text" name="s")


        //- nav#mobile-menu
        //- 	header= site.name
        //- 	.scrollable
        //- 		!= site.menu.main



        //- ==================================================
        //- > CONTENT
        //- ==================================================
        main(role="main")
            block main
                != post.post_content



        //- ==================================================
        //- > FOOTER
        //- ==================================================
        block footer
            footer#site-footer(role="contentinfo")
                .container
                    != site.menu.footer


        = wp_footer()
