doctype

html(lang=site.language)

    head
        meta(charset=site.charset)
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        = wp_head()
        block head

    body(class=body_class)

        //- ==================================================
        //- > HEADER
        //- ==================================================
        header#site-header(role="banner")

            .container
                .row
                    .gr-10.prefix-1.gr-12-sm.prefix-0-sm
                        a.main-logo(href=site.url rel="home")
                            img(src=site.header.logo.url alt=site.name)

                        nav.header-social-menu
                            ul
                                each soc in site.header.social
                                    li: a(href=soc.url title=soc.name)!= soc.icon

                //- nav.header-lang-menu


        nav#main-menu
            .container
                .row
                    .gr-10.prefix-1.gr-12-sm.prefix-0-sm
                        form: input.header-search(type="text" name="s")
                        != site.menus.main


        //- nav#mobile-menu
        //- 	header= site.name
        //- 	.scrollable
        //- 		!= site.menu.main



        //- ==================================================
        //- > CONTENT
        //- ==================================================
        main(role="main")
            block main
                != post.post_content



        //- ==================================================
        //- > FOOTER
        //- ==================================================
        block footer
            footer#site-footer(role="contentinfo")
                .container
                    .row

                        .gr-3.prefix-1.gr-4-md.prefix-0-md
                            .footer-title._contact: span= site.footer.contact_title
                            != site.footer.contact_content

                        .gr-4
                            .footer-title._middle ECOPHOS GROUP
                            p.text-align-center
                                strong: a(href="#") Ecophos Technology
                                br
                                strong: a(href="#") Ecophos Opearation

                        .gr-3.prefix-1.gr-4-md.prefix-0-md
                            .footer-title._social: span= site.footer.social_title
                            nav.footer-social-menu
                                ul
                                    each soc in site.header.social
                                        li: a(href=soc.url title=soc.name)!= soc.icon
                            != site.footer.social_content

                .bottom
                    .container
                        .row
                            .gr-10.prefix-1.gr-12-md.prefix-0-md
                                != site.footer.bottom_content

        = wp_footer()
