//- =============================================================================
//- > VIEW : INCLUDE - CARD NEWS
//- =============================================================================

article.card-news

    a(href=news.url style="background-image: url(".$news->thumb["url"]["archive"].")").card-news__visual
        != news.thumb.tag.archive

    .card-news__content
        time= news.date.short
        h2.card-news__title= news.post_title
        p.card-news__excerpt= news.post_excerpt
        a.button(href=news.url)!= __("Lire plus", "syltaen")