//- =============================================================================
//- > VIEW MIXIN - SECTIONS
//- =============================================================================

mixin colcontent(col)
    if $col["content"]
        each $c in $col["content"]
            +content($c)

//- ==================================================
//- > COLLAPSABLE
//- ==================================================
mixin collapsable(row)
    if $row["layout_settings"]["collapsable"]
        .collapsable
            .collapsable__header.trigger!= $row["layout_settings"]["collapsable"]
            .collapsable__content
                block
    else
        block

//- ==================================================
//- > ROW
//- ==================================================
mixin sectionrow(row)

    +collapsable($row)

        //- Light markup when there is only one column
        if $row["light"]
            each col in $row["columns"]
                +colcontent($col)

        //- Display columns when there are more than one
        else
            .row&attributes($row["attrs"])
                each $col in $row["columns"]
                    .gr&attributes($col["attrs"])
                        +colcontent($col)


//- ==================================================
//- > SECTION IMAGE
//- ==================================================
mixin section-image($settings, $side = "")
    if !empty($settings["bg_img{$side}"])
        .bg-image(
            style="".$_bg($settings["bg_img{$side}"]).""
            class="site-section__image{$side}"
            class="bg-image--".$settings["bg_img{$side}_size"]
            class="bg-image--".$settings["bg_img{$side}_pos"]
            class=isset($settings["bg_img{$side}_width"])?"site-section__image--".$settings["bg_img{$side}_width"]:""
        )&attributes($attributes)

//- ==================================================
//- > SECTIONS
//- ==================================================
mixin sections(sections)
    if !empty($sections)
        each $s in $sections
            section&attributes(($s["attrs"]))

                +section-image($s["layout_settings"])
                +section-image($s["layout_settings"], "_left")
                +section-image($s["layout_settings"], "_right")

                each $row in $s["rows"]
                    .container(class="container--".$row["layout_settings"]["width"]."")
                        +sectionrow($row)