//- ==================================================
//- > PARTIAL : NEWS ARCHIVE
//- ==================================================
.container

    //- FILTERS

    != c.walker

    ul.archive.archive--news


        each n in c.news
            li
                a.thumb(href=n.url style="background-image: url(".$n->thumb["url"]["archive"].");")!= n.thumb.tag.archive
                .content
                    time!= n.date.bold
                    h3= n.post_title
                    p!= n.post_excerpt
                a.button(href=n.url)= c.more

        unless c.news
            p Sorry, no news matching your request.


    != c.walker
