//- ==================================================
//- > PART : PAGINATION WALKER
//- > Standalone used by Syltaen\Pagination->walker()
//- ==================================================

nav.pagination-walker(class=classes)

    a(href=first.url title=first.title disabled=first.disabled).pagination-walker__direction.pagination-walker__direction--first= first.title
    //- a(href=previous.url title=previous.title disabled=previous.disabled).pagination-walker__direction.pagination-walker__direction--previous= previous.title

    ul.pagination-walker__pagelist
        each page in pages
            li
                if page.current
                    span.current= page.number
                else
                    a(href=page.url)= page.number

    //- a(href=next.url title=next.title disabled=next.disabled).pagination-walker__direction.pagination-walker__direction--next= next.title
    a(href=last.url title=last.title disabled=last.disabled).pagination-walker__direction.pagination-walker__direction--last= last.title

    p!= text